@charset "UTF-8";

@media screen and (min-width: 300px) and (max-width: 700px) {
    
    .nav.active .hamburguer {
        border-top-color: transparent;
    }
    
    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }
    
    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
    
    /*aqui controla a janela abrindo*/
    .nav.active .menu {
        height: calc(100vh - 5rem); /*aqui ta tirando a altura que ta no header. aqui controla o tamanho vertical da janela*/
        visibility: visible; /*aqui mostra a janela*/
        overflow-y: auto; /*aqui e pra cria barra de rolagem caso a janela tenha muito conteúdos, sem isso os conteúdos passando da tela não aparecem*/
    }
    
    /*aqui controla a janela fechado (ul), que so vai ser acionado no js*/
    .menu {
        display: block;
        position: absolute;
        top: 5rem; /*aqui controla a autura da janela*/
        right: 0; /*aqui controla o lado que vai ficar a janela*/
        width: 70%; /*aqui controla a largura da janela*/
        
        background-color: var(--roxoescuro);
        text-align: center;
        
        z-index: 1; /*aqui controla oque vai ter prioridade pra mostra em cima (aumenta caso tenha pobkema com isso)*/
        
        height: 0; /*quando tiver fechado tem a altura de 0*/
        transition: 0.3s; /*faz uma animação comforme vai escondendo*/
        visibility: hidden; /*aqui esconde a janela*/
        overflow-y: hidden; /*aqui e pra esconder os conteúdos junto com a div*/
    }
    
    .menu a {
        display: block;
        padding-block: 1rem;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid red;
    }
    
}

@media screen and (min-width: 700px) {
    .btn-menu {
        display: none;
    }
    
    .menu {
        display: flex;
        gap: 0.5rem;
        
    }
    
    .menu a {
        display: block;
        padding: 1rem;
        border-radius: 0.5rem;
        color: whitesmoke;
    }
    
    .menu a:hover {
        background-color: var(--roxoclaro);
    }


}