
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #CAD2C5;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: #39355C;
	text-align: center;
}

header > h1 {
	padding: 20px;
	font-size: 1.6rem;
	color: #E7F9A9;
}

section {
	display: flex;
	flex-wrap: wrap-reverse; /*inverteu botou a tela de form em baixo e a tela de apresentação em cima*/
    background-color: whitesmoke;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    margin: 0px 5px 5px 5px;
}

div#apresentacao {
	height: 420px;
	flex-grow: 1; /*se adaptar ao fim da tela mesmo tipo width mais de forma responsiva*/
	margin: 5px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #424242;
	color: whitesmoke;
}

div#fundo1 {
    height: 7rem;
    border-radius: 10px 10px 60px 0px;
    background-color: #39355C;
}

div#fundo2 {
    height: 6rem;
    border-radius: 10px 10px 90px 0px;
    background-color: #48489C;
}

div#apresentacao h1 {
    text-align: center;
    padding-top: 30px;
}

.info {
	width: 370px;
	margin: 5px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: #424242;
	color: whitesmoke;
}

fieldset.info > input {
	display: block; /*aqui faz os input ficar um embaixo do outro*/
	width: 340px;
	padding: 5px 10px;
	margin: 10px 5px;
	border: none; /*tirando borda da caixa do input*/
	border-radius: 20px;
	background-color: whitesmoke;
	color: black;
}

div.info {
    padding: 0px;
}

div.info > input {
    width: 183px;
    padding: 10px;
    background-color: #39355C;
    color: #9DBF9E;
    border: none;
    border-radius: 7px;
}

footer {
	background-color: #2B253D;
	text-align: center;
	margin-bottom: 5px;
	padding: 10px;
}

footer > h3 {
	padding: 10px;
	font-size: 1rem;
	color: whitesmoke;
	background-color: #537354;
	border-radius: 5px;
	border: 1px solid black;
}
